var formatArray = function (array) {
  if (array == undefined) {
    return;
  }
  var roles = array.join(",");
  return roles;
}

var getProgress = function (array){
  if(array == undefined){
    return;
  }
  var progress = array.filter(function (item) {
    return (item.user_step.status_code === 100);
  }).length / array.length * 100
  return progress;
}

module.exports.formatArray = formatArray;
module.exports.getProgress = getProgress;